<div class="toast-container position-fixed bottom-0 end-0 p-3" *ngIf="toast.show">
    <div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Title</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                (click)="closeToast()"></button>
        </div>
        <div class="toast-body">
            {{toast.mssg}}
        </div>
    </div>
</div>